@charset "UTF-8";

/*
████████████████████████████████████████████████████████

                Reset

████████████████████████████████████████████████████████
*/

*,
*:before,
*:after {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;

    font-family: "Inter", sans-serif;
    font-weight: 400;
        
    font-optical-sizing: auto;
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    * {
        cursor: default !important;
    }
}
img {
    display: block;
    max-width: 100%;
}
body {
    color: #ffffff;
    background: #15202b;
    display: flex;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.6;
}

    @media only screen and (max-width: 1440px) {
        body {
            font-size: 14px;
            line-height: 1.4;
        }
    }
a {
    color: white;
}
.wrapper {
    width: 1024px;
    max-width: calc(100% - 60px - 60px);
    margin: auto;
    padding: 60px 0;
}
section.cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
section.cover figure {
    display:flex;
}
section.cover figure img {
    margin: auto;
}
section.cover header {
    display: flex;
}
@media only screen and (max-width:768px) {
    section.cover {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
    section.cover figure img {
        margin: 0;
    }
}
section.cover header .wrap {
    margin: auto;
    margin-left: 0;
}
section.cover header .wrap h1 {
    font-size: 300%;
}
section.cover header .wrap h1 b {
    font-weight: 700;
}
section.cover header .wrap .btn {
    background:rgba(255,255,255,.1);
    color:white;
    border:1px solid white;
    padding:15px 30px;
    border-radius:100px;
    text-decoration:none;
}
}
